body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "victor-pixel";
  src: local("victor-pixel"), url("./fonts/victor-pixel.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "pixel-digivolve";
  src: local("pixel-digivolve"),
    url("./fonts/pixel-digivolve.otf") format("opentype");
  font-weight: bold;
}
