.Photos img {
  border-radius: 4px;
  margin-bottom: 20px;
}
.Photos {
  text-align: center;
  border: 3px solid #000000;
  background: rgba(255, 230, 230, 0.55);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 40px;
  padding-top: 50px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 50px;
  margin-bottom: 40px;
}
.Photos h1 {
  font-family: "pixel-digivolve";
  font-size: 25px;
  text-align: left;
  padding-bottom: 20px;
}
