h2 {
  font-family: "pixel-digivolve";
  padding-left: 0px;
  margin-top: 7px;
  padding-bottom: 10px;
}
.Results {
  border: 3px solid #000000;
  background: rgba(255, 230, 230, 0.55);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 40px;
  padding-top: 50px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 50px;
  margin-bottom: 40px;
}
.SoundIcon {
  max-width: 40px;
  max-height: 55px;
  padding-left: 10px;
  margin-top: 40px;
}
.soundIconCol {
  padding-right: 0px;
}
.pacman {
  max-height: 50px;
}
