.Signature {
  text-align: center;
  font-family: "victor-pixel";
  margin: 50px 0;
  font-size: 20px;
  color: #9aff18;
  text-shadow: 0px 2px 0px #000000;
}
.fa-github {
  padding-left: 4px;
  padding-right: 4px;
  color: rgb(129, 129, 129);
}
.fa-github:hover {
  color: #692d95;
}
.signatureGitLink {
  text-decoration: none;
  color: #9aff18;
}
.signatureGitLink:hover {
  color: #bff578;
}
.gitCat {
  height: 35px;
}
.linkedInLink {
  text-decoration: none;
  color: #9aff18;
}
.linkedInLink:hover {
  color: #bff578;
}
